
.nav-item{
  padding-left:20px;
  padding-right:20px;
  margin-left:20px;
  margin-right:20px;
}

.nav-item a:hover,
.nav-item .active {
  color:  #9010B0 !important;
  text-decoration: underline;
}

  .section-white {
    background: #fff;
    padding: 70px 0;
  }
  
  .team-item{
    background: #f4f5f6;
    text-align:center;
    margin:20px 0;
    padding:50px 20px 40px 20px;
    border-radius: 8px 8px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
  .team-item:hover{
    background: linear-gradient(90deg, #234EB0 3.66%, #9010B0 100%);
    color: white; 
  }
  
  .team-item h3{
    margin:20px 0 1px 0!important;
    color:#454545;
    font-size:18px;
    font-weight: 700;
    text-transform:uppercase;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
  }
   
  .section-title{
    font-family: 'Poppins', sans-serif;
    font-size:xxx-large;
    font-weight: 700;
    text-transform:uppercase;
    /* transition: all .25s ease-in-out; */
    text-align: center;
  
  background: linear-gradient(to right, #bf98e9 20%, rgb(234, 23, 171) 40%, rgb(234, 23, 171) 60%, #bf98e9 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
  
 .subject{
  color: #9010B0;
 }
  .section-subtitle {
    white-space: pre-line;
    font-size:x-large;
   }
  
  .team-item:hover h3{
    color:#ddd;
  }
  
  .team-info {
    display: block;
    margin-bottom:0;
  }
  
  .team-info p{
    color:#f239c1;
    font-style:italic;
  }
  /* .position:hover{
    color:#eef5fd;
    font-style:italic;
  } */


  
  
  .team-info::after {
      background: #008aff;
      background: -webkit-linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
      background: -o-linear-gradient(bottom right, #6B02FF, #985BEF);
      background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd);
      background: linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 50px;
      height: 3px; 
  }
  
  .team-img{
    max-width: 140px;
    padding: 6px 6px;
    background-color: #dedede;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  ul.team-icon {
    margin-top: 25px;
  }
  
  ul.team-icon li{
    display: inline-block;
    margin:0 3px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
  ul.team-icon li a{
    margin: 0;
    display: inline-block;
    padding: 8px 8px;
    width: 34px;
    height: 34px;
    font-size: 18px;
    line-height: 18px;
    background-color: #fff;
    border-radius: 50%;
    color:#fff;
  }
  
  ul.team-icon li a.linkedin{
    background-color: #4099ff;
    text-decoration: none;
    font-size: 25px;

    

  }
  
  ul.team-icon li a.pinterest{
    background-color: #C92228;
    text-decoration: none;
    color: #C92228 ;
  }
  
  ul.team-icon li a.facebook{
    background-color: #3b5998;
    text-decoration: none;
    color: #3b5998;
  }
  
  ul.team-icon li a.dribble{
    background-color: #ea4c89;
    text-decoration: none;
    color: #ea4c89;
  }
  
  .team-icon li a:hover{
    color:#dedede;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
.img{
  max-width: 390px;
  padding: 6px 6px;
  /* background-color: #6a88b8; */
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(https://files.sciastra.com/footermain.jpg);
}
.legend{
  max-width: 140px;
  background-color: #dedede;
}
.subject{
  background-image: url(https://files.sciastra.com/footermain.jpg);
}